.header {
  //background: #fff !important;
  //background-color: #001529 !important;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #f6f6f6;
  -webkit-box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%), 0 0 3px 0 rgb(0 0 0 / 4%);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%), 0 0 3px 0 rgb(0 0 0 / 4%);
  margin-bottom: 4px;
  justify-content: space-between;

  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
