.container {
  padding: 10px 20px;
  width: 100%;
  height: 100%;
}

.setting {
  .cell {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    > span:first-child {
      margin-bottom: 4px;
    }
  }
}

.userinfo {
  padding: 30px;

  .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      margin-top: 10px;
    }
  }

  .cell {
    display: flex;
    flex-direction: row;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;

    span {
      font-size: 15px;
    }

    > span:first-child {
      margin-right: 20px;
      color: #000;
      font-weight: bold;
    }

    > span:hover {
      color: #fa8334;
    }
  }

  .detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #f2f2f2;
    padding: 10px;
    font-size: 15px;

    > span {
      font-weight: bold;
      width: 400px;
    }

    .description {
      flex: 1 1 auto;
    }
  }

  .detail:hover {
    background-color: #e4e4e4;
  }
}
