.menu {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  border-radius: 6px;
}

.menu:hover {
  opacity: 1;
  //background-color: rgba(0, 0, 0, 0.025);
  background-color: #252a3d;
}

.menu_content {
  width: 200px;
  height: 300px;

  ul {
    padding-inline-start: 4px !important;
  }

  .item {
    font-weight: normal;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 10px 20px;

    .action {
      font-size: 14px;
      font-weight: 400;
      color: #3d4757;
      line-height: 20px;
      display: block;
      display: flex;
      flex-direction: column;
      margin-left: 10px;
    }

    .action span:last-child {
      font-size: 12px;
      font-weight: 400;
      color: #949aae;
      line-height: 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }

    svg {
      width: 30px;
      height: 30px;
      display: block;
    }

    a {
      display: flex;
      align-items: center;
    }
  }

  .item:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}
